.display-linebreak {
  white-space: pre-line;
  background-color: white;
  padding: 15px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: freight-text-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vmin;
}

.display-linebreak:first-child:first-letter {
  /* white-space: pre-line;
  background-color: white;
  padding: 15px;
  margin-left: 10px;
  border-radius: 5px; */
  float: left;
  font-family: freight-text-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vmin;
  line-height: 60px;
  /* padding-top: 4px; */
  padding-right: 8px;
  padding-left: 3px;
}