#headerDiv {
    height: 60px;
}

#HeaderText {
    font-size: 28px;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

svg {
    max-height: 50px;
    margin: 5px;
}
#HeaderLogo {
    max-height: 50px;
    margin: 5px;
    border-radius: 5px;
}

