#headerDiv {
    height: 60px;
}

#headerText {
    font-size: 28px;
    padding: 5px;
    font-family: acumin-pro-wide, sans-serif;
    font-style: normal;
    font-weight: 400;
}

svg {
    max-height: 50px;
    margin: 5px;
}
#HeaderLogo {
    max-height: 50px;
    margin: 5px;
    border-radius: 5px;
}

