#postJumbo {
height:70vh;
}

#contentContainer {
    padding: 5px 11vw;
}
#paletteLine {
    height: 3px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

svg {
    height: 100px;
    fill: black;
}

#commentForm {
    margin-bottom: 10px;
}